* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Exo-Regular";
  src: url(../fonts/Exo/static/Exo-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exo-Medium";
  src: url(../fonts/Exo/static/Exo-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Exo-SemiBold";
  src: url(../fonts/Exo/static/Exo-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: #0A0A0B;
  min-width: 320px;
  overflow-x: hidden;
}

.main {
  position: relative;
}

.container {
  padding: 0 24px;
}

input[type=checkbox] {
  display: none;
}

.header {
  position: relative;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
}

.hamburger-menu__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.hamburger-menu__label > span,
.hamburger-menu__label > span::before,
.hamburger-menu__label > span::after {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger-menu__label > span::before {
  content: "";
  top: -5px;
}

.hamburger-menu__label > span::after {
  content: "";
  top: 5px;
}

.hamburger-menu__items {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  gap: 32px;
  background-color: #E5E5E5;
}
.hamburger-menu__items li:first-child {
  margin-top: 80px;
}
.hamburger-menu__item {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
}
.hamburger-menu__item:hover {
  color: #4177DC;
  text-shadow: 0px 0px 32px #346DDA;
}

#menu__hamburger:checked ~ .hamburger-menu__items {
  visibility: visible;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menu__hamburger:checked ~ .hamburger-menu__label > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__hamburger:checked ~ .hamburger-menu__label > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__hamburger:checked ~ .hamburger-menu__label > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .header__inner {
    min-height: 80px;
  }
  .hamburger-menu__label {
    display: none;
  }
  .hamburger-menu__items {
    visibility: visible;
    background-color: transparent;
    gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    width: 100%;
    height: auto;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .hamburger-menu__items li:first-child {
    margin-top: 0px;
  }
  .hamburger-menu__item {
    font-size: 16px;
    font-family: "Exo-Regular", sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .header__inner {
    min-height: 80px;
  }
  .hamburger-menu__label {
    display: none;
  }
  .hamburger-menu__items {
    visibility: visible;
    background-color: transparent;
    gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    width: 100%;
    height: auto;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .hamburger-menu__items li:first-child {
    margin-top: 0px;
  }
  .hamburger-menu__item {
    font-size: 16px;
    font-family: "Exo-Regular", sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
  }
}
.best-car__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 77px;
  padding-bottom: 32px;
}
.best-car__title {
  font-size: 24px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 33.6px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.best-car__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-bottom: 48px;
}
.best-car__model {
  font-size: 16px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 22.4px;
}
.best-car__type {
  font-size: 13px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #BABEC4;
  text-transform: none;
  line-height: 22.4px;
}
.best-car__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.best-car__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
}
.best-car__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.best-car__feature--icon {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
.best-car__feature--number {
  font-size: 20px;
  font-family: "Exo-Medium", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;
  line-height: 26.58px;
  margin-bottom: 4px;
}
.best-car__feature--text {
  font-size: 10px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #888B91;
  text-transform: uppercase;
  line-height: 13.29px;
}
.best-car__start {
  font-size: 13px;
  font-family: "Exo-Medium", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.best-car__start::before {
  content: "";
  border: 2px solid #02DB8A;
  -webkit-filter: drop-shadow(0px 0px 16px #02DB8A);
          filter: drop-shadow(0px 0px 16px #02DB8A);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: absolute;
}
.best-car__start::after {
  content: "";
  border: 2px solid #02DB8A;
  -webkit-filter: drop-shadow(0px 0px 16px #02DB8A);
          filter: drop-shadow(0px 0px 16px #02DB8A);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
}

.whiteflash1 {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -141px;
  top: -59px;
  background: rgba(55, 74, 109, 0.5);
  -webkit-filter: blur(90px);
          filter: blur(90px);
}

.whiteflash2 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 200px;
  top: 317px;
  background: rgba(55, 74, 109, 0.5);
  -webkit-filter: blur(90px);
          filter: blur(90px);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .best-car__inner {
    padding-top: 72px;
    padding-bottom: 26px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .best-car__title {
    font-size: 36px;
    line-height: 50.4px;
    margin-bottom: 20px;
  }
  .best-car__content {
    gap: 8px;
  }
  .best-car__model {
    font-size: 24px;
    line-height: 33.6px;
  }
  .best-car__type {
    font-size: 16px;
  }
  .best-car__features {
    width: 100%;
    max-width: 406px;
  }
  .best-car__start {
    font-size: 14px;
    line-height: 19.6px;
  }
  .whiteflash1 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: -198px;
    top: -50px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  .whiteflash2 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 961px;
    top: 382px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .best-car__inner {
    padding-top: 72px;
    padding-bottom: 26px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .best-car__title {
    font-size: 36px;
    line-height: 50.4px;
    margin-bottom: 20px;
  }
  .best-car__content {
    gap: 8px;
  }
  .best-car__model {
    font-size: 24px;
    line-height: 33.6px;
  }
  .best-car__type {
    font-size: 16px;
  }
  .best-car__features {
    width: 100%;
    max-width: 406px;
  }
  .best-car__start {
    font-size: 14px;
    line-height: 19.6px;
  }
  .whiteflash1 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: -198px;
    top: -50px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  .whiteflash2 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 961px;
    top: 382px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 94px;
  padding-top: 56px;
  padding-bottom: 32px;
}

.about-content__title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
  max-width: 174px;
  margin-bottom: 16px;
}
.about-content__text {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  line-height: 21px;
  max-width: 312px;
  margin-bottom: 32px;
}
.about-content__btn {
  font-size: 15px;
  font-family: "Exo-Medium", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;
  line-height: 21px;
  background-color: #4177DC;
  padding: 16px 32px;
  border-radius: 4px;
}

.about-pic {
  position: relative;
}
.about-pic__content {
  position: absolute;
  right: 0;
  bottom: -20%;
  padding: 16px 12px;
  border-radius: 20px;
  max-width: 181px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.about-pic__title {
  font-size: 16px;
  font-family: "Exo-Medium", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 22.4px;
  text-align: center;
}
.about-pic__text {
  font-size: 12px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  line-height: 16.8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .about__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    padding-top: 72px;
    padding-bottom: 139px;
  }
  .about-pic img {
    width: 100%;
  }
  .about-pic__content {
    bottom: 0;
  }
  .about-content__title {
    font-size: 24px;
    line-height: 33.6px;
    max-width: 209px;
    margin-bottom: 24px;
  }
  .about-content__text {
    font-size: 16px;
    line-height: 22.4px;
    max-width: 401px;
    margin-bottom: 48px;
  }
  .about-content__btn {
    font-size: 16px;
    line-height: 22.4px;
    padding: 14px 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .about__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 88px;
    padding-top: 72px;
    padding-bottom: 139px;
  }
  .about-pic__content {
    bottom: -15%;
  }
  .about-content__title {
    font-size: 24px;
    line-height: 33.6px;
    max-width: 209px;
    margin-bottom: 24px;
  }
  .about-content__text {
    font-size: 16px;
    line-height: 22.4px;
    max-width: 401px;
    margin-bottom: 48px;
  }
  .about-content__btn {
    font-size: 16px;
    line-height: 22.4px;
    padding: 14px 32px;
  }
}
.popular-cars__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 56px;
  padding: 56px 0;
}
.popular-cars__title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
  max-width: 232px;
  margin: 0 auto;
  text-align: center;
}

.popular-cars__cards {
  padding: 10px 0;
}
.popular-cars__cards .popular-cars__card {
  position: relative;
  min-height: 303px;
  max-width: 228px;
  border: 1px solid #000;
  padding: 32px 24px;
}
.popular-cars__cards .popular-cars__card--title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
}
.popular-cars__cards .popular-cars__card--subtitle {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  line-height: 21px;
  margin-bottom: 12px;
}
.popular-cars__cards .popular-cars__card--img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.popular-cars__cards .popular-cars__card--charac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 12px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
}
.popular-cars__cards .popular-cars__card--charac div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popular-cars__cards .popular-cars__card--charac img {
  margin-right: 4px;
}
.popular-cars__cards .popular-cars__card--elec {
  font-size: 12px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  line-height: 16.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}
.popular-cars__cards .popular-cars__card--price {
  font-size: 16px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 22.4px;
}
.popular-cars__cards .popular-cars__card--bag {
  background-color: #4177DC;
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 16px 0px;
}

.popular-cars__cards .slick-slide {
  margin: 0 30px;
  border-radius: 16px;
}

.popular-cars__cards .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.popular-cars__cards .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.popular-cars__cards .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.popular-cars__cards .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #BABEC4;
  border-radius: 50%;
}

.popular-cars__cards .slick-dots li.slick-active button {
  background-color: #4177DC;
}

.features__inner {
  background-image: url(../images/features/map-mini.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 56px;
  position: relative;
}
.features__title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
  text-align: center;
}
.features__img {
  position: absolute; /* 2 */
  top: 20%; /* 3 */
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .features__inner {
    background-image: url(../images/features/map-big.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 72px;
  }
  .features__title {
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .features__img {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .features__inner {
    background-image: url(../images/features/map-big.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 72px;
  }
  .features__title {
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .features__img {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.luxury-cars__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding: 50px;
}
.luxury-cars__title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
  text-align: center;
}
.luxury-cars__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.luxury-cars__brand {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #BABEC4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.luxury-cars__brand:first-child {
  background-color: #4177DC;
}

.luxury-cars__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.luxury-cars__cards .luxury-cars__card {
  border-radius: 16px;
  position: relative;
  min-height: 279px;
  max-width: 228px;
  border: 1px solid #000;
  padding: 32px 15px;
}
.luxury-cars__cards .luxury-cars__card--title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
}
.luxury-cars__cards .luxury-cars__card--subtitle {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  line-height: 21px;
  margin-bottom: 12px;
}
.luxury-cars__cards .luxury-cars__card--img {
  margin: 0 auto;
  margin-bottom: 26px;
}
.luxury-cars__cards .luxury-cars__card--price {
  font-size: 16px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 22.4px;
}
.luxury-cars__cards .luxury-cars__card--bag {
  background-color: #4177DC;
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 16px 0px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .luxury-cars__inner {
    gap: 72px;
    padding: 70px;
  }
  .luxury-cars__title {
    line-height: 33.6px;
    font-size: 24px;
  }
  .luxury-cars__brands {
    gap: 32px;
  }
  .luxury-cars__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .luxury-cars__inner {
    gap: 72px;
    padding: 70px;
  }
  .luxury-cars__title {
    line-height: 33.6px;
    font-size: 24px;
  }
  .luxury-cars__brands {
    gap: 32px;
  }
  .luxury-cars__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px;
  }
}
.offers {
  background-image: url(../images/offers/bg-mini.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.offers__inner {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.offers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offers-content__title {
  font-size: 20px;
  font-family: "Exo-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: 28px;
  max-width: 312px;
  text-align: center;
  margin-bottom: 32px;
}
.offers-content__text {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #BABEC4;
  text-transform: none;
  line-height: 21px;
  max-width: 312px;
  text-align: center;
  margin-bottom: 48px;
}
.offers-content__btn {
  font-size: 15px;
  font-family: "Exo-Medium", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;
  line-height: 21px;
  text-align: center;
  padding: 14px 32px;
  background-color: #4177DC;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .offers__inner {
    padding: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .offers-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .offers-content__title {
    font-size: 24px;
    line-height: 20px;
    max-width: 312px;
    text-align: start;
  }
  .offers-content__text {
    font-size: 16px;
    line-height: 18px;
    max-width: 400px;
    text-align: start;
  }
  .offers-content__btn {
    font-size: 16px;
    line-height: 16px;
  }
  .offers-img img {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .offers__inner {
    padding: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 80px;
  }
  .offers-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .offers-content__title {
    font-size: 24px;
    line-height: 33.6px;
    max-width: 312px;
    text-align: start;
  }
  .offers-content__text {
    font-size: 16px;
    line-height: 22.4px;
    max-width: 400px;
    text-align: start;
  }
  .offers-content__btn {
    font-size: 16px;
    line-height: 22.4px;
  }
}
.logos {
  background-color: #000;
}
.logos__inner {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .logos__inner {
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .logos__inner {
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 60px;
  }
}
.footer__inner {
  padding: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
  position: relative;
  overflow: hidden;
}
.footer__inner::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  left: -176px;
  top: 119px;
  background: rgba(55, 74, 109, 0.5);
  -webkit-filter: blur(90px);
          filter: blur(90px);
}
.footer__inner::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  left: 280px;
  top: 550px;
  background: rgba(55, 74, 109, 0.5);
  -webkit-filter: blur(90px);
          filter: blur(90px);
}

.footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer-up__text {
  font-size: 13px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #BABEC4;
  text-transform: none;
  line-height: 18.2px;
  max-width: 200px;
  margin-top: 20px;
}
.footer-up__company, .footer-up__info {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #BABEC4;
  text-transform: none;
  line-height: 21px;
}
.footer-up__company div:first-child, .footer-up__info div:first-child {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
}
.footer-up__socials {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #BABEC4;
  text-transform: none;
  line-height: 21px;
}
.footer-up__socials div:first-child {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
}

.insta {
  margin: 0 24px;
}

.footer-bottom {
  font-size: 15px;
  font-family: "Exo-Regular", sans-serif;
  font-weight: 400;
  color: #BABEC4;
  text-transform: none;
  line-height: 16.8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .footer__inner {
    padding-top: 72px;
    padding-bottom: 32px;
    gap: 98px;
    overflow: hidden;
  }
  .footer__inner::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    left: -318px;
    top: 0px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  .footer__inner::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1024px;
    top: 137px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  .footer-up {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .footer__inner {
    padding-top: 72px;
    padding-bottom: 32px;
    gap: 98px;
    overflow: hidden;
  }
  .footer__inner::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    left: -318px;
    top: 0px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  .footer__inner::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1024px;
    top: 137px;
    background: rgba(55, 74, 109, 0.5);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  .footer-up {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
}/*# sourceMappingURL=style.css.map */