


@font-face {
    font-family: $ff-ExoRegular;
    src: url(../fonts/Exo/static/Exo-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-ExoMedium;
    src: url(../fonts/Exo/static/Exo-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-ExoSemiBold;
    src: url(../fonts/Exo/static/Exo-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: $ff-PoppinsMedium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-PoppinsBold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}