
$color-white: #ffffff;
$color-black: #000;
$color-body: #0A0A0B;
$color-bg-grey: #E5E5E5;

$color-blue: #4177DC;
$color-text-grey: #BABEC4;
$text-color-light: #888B91;
$color-border-ring: #02DB8A;

$ff-ExoRegular: 'Exo-Regular';
$ff-ExoMedium: 'Exo-Medium';
$ff-ExoSemiBold: 'Exo-SemiBold';

$ff-PoppinsMedium: 'Poppins-Medium';
$ff-PoppinsBold: 'Poppins-Bold';