

@media only screen and (min-width: 768px) {


    .container {
        max-width: 1024px;
        padding: 0px 20px;
        margin: 0 auto;
    }


    .features {

        &__inner {
            background-image: url(../images/features/map-big.png);
            background-repeat: no-repeat;
            background-position: center;
            margin: 72px;
        }

        &__title {
            font-size: 24px;
            line-height: 33.6px;
            margin-bottom: 20px;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &__img {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            
        }
    }

}





@media only screen and (min-width: 1200px) {


    .container {
        max-width: 1024px;
        padding: 0px 20px;
        margin: 0 auto;
    }


    .features {

        &__inner {
            background-image: url(../images/features/map-big.png);
            background-repeat: no-repeat;
            background-position: center;
            margin: 72px;
        }

        &__title {
            font-size: 24px;
            line-height: 33.6px;
            margin-bottom: 20px;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &__img {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            
        }
    }

}