

.offers{
    background-image: url(../images/offers/bg-mini.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner{
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
}

.offers-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__title{
        @include font-style(20px, $ff-ExoSemiBold, 600, $color-white);
        line-height: 28px;
        max-width: 312px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__text{
        @include font-style(15px, $ff-ExoRegular, 400, $color-text-grey);
        line-height: 21px;
        max-width: 312px;
        text-align: center;
        margin-bottom: 48px;
    }

    &__btn{
        @include font-style(15px, $ff-ExoMedium, 500, $color-white);
        line-height: 21px;
        text-align: center;
        padding: 14px 32px;
        background-color: $color-blue;
    }
}

